<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot REST API with ajax</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="min-height: 500px">
        <div class="starter-template">
            <h1 class="mb-4">Spring Boot REST API with AJAX Example</h1>
            <div class="mb-3">
                <img id="images" src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="User Icon" width="110" height="110" class="rounded-circle border p-1 shadow-sm">
            </div>
            <div id="profile" class="h4 mb-3 text-primary font-weight-bold"></div>
            <button id="logout" class="btn btn-outline-danger">Logout</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="/js/mainjs.js"></script>
</body>
</html>
